@model List<MongoForm.Web.Models.Survey> 
@{
    ViewBag.Title = "Index";
}

<div class="h3 text-center" style="margin-top:15px;">Survey Results</div>
<p>@Html.ActionLink("Take Survey", "Create", "Survey", null, new { @class = "btn btn-primary" })</p>

@if (Model.Count > 0)
{
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Satisfaction</th>
                <th scope="col">Was Helped</th>
                <th scope="col">Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (MongoForm.Web.Models.Survey item in Model)
            {
                <tr>
                    <th>@Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-times text-danger" })</th>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Satisfaction</td>
                    <td>@item.IsWasHelped</td>
                    <td>@item.Comments</td>
                </tr>
            }
        </tbody>
    </table>
}